---
layout: page
pagination: 
  enabled: true
  permalink: /:num/
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<div class="container mt-4">
  <div class="row">
    {% for post in posts %}
    <div class="col-lg-4 col-md-6 mb-4">
      {% assign thumbnail = post.thumbnail-img | default: post.cover-img %}
      <div class="card h-100 border-0 shadow-sm">
        <a href="{{ post.url | absolute_url }}" class="text-decoration-none">
          {% if thumbnail %}
          <div class="card-img-top rounded" style="background-image: url('{{ thumbnail | absolute_url }}'); background-size: cover; background-position: center; height: 200px;">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title text-white text-shadow">{{ post.title | strip_html }}</h5>
            </div>
          </div>
          {% else %}
          <div class="card-img-top rounded random-gradient" style="background-size: cover; background-position: center; height: 200px;">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5 class="card-title text-white text-shadow">{{ post.title | strip_html }}</h5>
            </div>
          </div>
          {% endif %}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Newer Posts</span>
      </a>
    </li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
    <li class="page-item {% if page == paginator.page %}active{% endif %}">
      <a class="page-link" href="{{ paginator.paginate_path | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endfor %}
    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Older Posts</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
