---
layout: base
---

{% include header.html type="post" %}

<main class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <!-- Word Box -->
      <div class="word-box rounded p-3 mb-4 shadow">
        <h1 class="word-title">{{ page.data.word }}</h1>
        <!-- Speaker Button -->
        <button class="btn btn-sm speaker-btn position-absolute end-0 me-3 mt-3" onclick="playPronunciation('{{ page.data.word }}')"><i class="fa-solid fa-volume-high" style="font-size:36px;"></i></button>
      </div>

      
      <!-- Definitions -->
      {% for definition in page.data.definitions %}
      <div class="definition-box rounded p-3 mb-3 shadow">
        <h2>{{ definition.part_of_speech | capitalize }}</h2>
        {% for def in page.data.definitions %}
          <div class="mb-2">
            <p class="mb-1"><strong>Definition:</strong> {{ def.definitions }}</p>
            {% if def.synonyms %}
              <p class="mb-1"><strong>Synonyms:</strong> {{ def.synonyms | join: ", " }}</p>
            {% endif %}
            {% if def.antonyms %}
              <p class="mb-1"><strong>Antonyms:</strong> {{ def.antonyms | join: ", " }}</p>
            {% endif %}
            {% if def.examples %}
              <div class="mb-1">
                <strong>Examples:</strong>
                <ul>
                  {% for example in def.examples %}
                    <li>{{ example }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if def.mnemonics %}
              <div>
                <strong>Mnemonics:</strong>
                <ul>
                  {% for mnemonic in def.mnemonics %}
                    <li>{{ mnemonic }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% endfor %}


      <!-- Etymology -->
      {% if page.data.etymology %}
        <div class="etymology-box rounded p-3 mb-3 shadow">
          <h2>Etymology:</h2>
          <div class="inner-box">
            <strong>Origin:</strong> <p>{{ page.data.etymology.origin }}</p>
            <strong>Historical Usage:</strong> <p>{{ page.data.etymology.historical_usage }}</p>
          </div>
        </div>
      {% endif %}

      <!-- Idioms -->
      {% if page.data.idioms %}
        <div class="idioms-box rounded p-3 mb-3 shadow">
          <h2>Related Idioms:</h2>
          {% for idiom in page.data.idioms %}
          <div class="inner-box">
            <strong>Idiom:</strong> <p>{{ idiom.expression }} </p>
            <strong>Explanation:</strong> <p>{{ idiom.explanation }}</p>
          </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- Misconceptions -->
      {% if page.data.misconceptions %}
        <div class="misconceptions-box rounded p-3 mb-3 shadow">
          <h2>Misconceptions:</h2>
          {% for misconception in page.data.misconceptions %}
          <div class="inner-box">
            <strong>Misconception:</strong> <p>{{ misconception.misconception }}</p>
            <strong>Explanation:</strong> <p>{{ misconception.explanation }}</p>
          </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>

<script>
  function playPronunciation(word) {
    if ('speechSynthesis' in window) {
      // Web Speech API supported
      let utterance = new SpeechSynthesisUtterance(word);
      utterance.rate = 0.25;
      window.speechSynthesis.speak(utterance);
      console.log('Pronunciation for:', word); // Placeholder for your API integration
    } else {
      // Web Speech API not supported
      alert('Web Speech API not supported in this browser.');
      console.log('Web Speech API not supported.');
    }
  }
</script>
